<header class="home-header">
  <img
    src="/images/image_1.jpg"
    alt="Ilutração de elemetos espacias do header."
  />
  <div>
    <h1>Explore o COSMOS</h1>
    <h2>e fique admirado com <span>ELE</span></h2>
  </div>
  <button>Explorar</button>
</header>
