<nav class="navbar">
  <div class="left">
    <img src="images/Galaxy_icon 1.png" alt="Logo de galáxia." />
    <h1>Cosmos</h1>
  </div>
  <ul>
    <li><a href="/planetas">Planetas</a></li>
    <li><a href="/luas">Luas</a></li>
    <li><a href="/cometas">Cometas</a></li>
  </ul>
  <div class="right">
    <button>
      <img src="/images/Search.png" alt="Imagem de lupa da busca." /> Buscar
      Astro
    </button>
    <img
      src="/images/Moon_Phase.png"
      alt="Ícone da lua para acessar tela de login."
    />
  </div>
  <div class="mobile">
    <img src="/images/Search.png" alt="Imagem de lupa da busca." />
    <img src="/images/menu-svgrepo-com.svg" alt="Icone do menu." />
  </div>
</nav>
