<nav class="navbar">
  <div class="left">
    <img src="/images/Galaxy.svg" alt="Logo de galáxia." />
    <a href="/"><h1>Cosmos</h1></a>
  </div>
  <ul>
    <li>
      <a href="/astros?category=Planeta">Planetas</a>
    </li>
    <li><a href="/astros?category=Lua">Luas</a></li>
    <li><a href="/astros?category=Cometa">Cometas</a></li>
    <li><a href="/astros">Todos</a></li>
  </ul>
  <div class="right">
    <button onclick="openDialog()" id="searchButton">
      <img
        id="searchImg"
        class="search"
        src="/images/Search.svg"
        alt="Imagem de lupa da busca."
      />
      Buscar Astro
    </button>
    <img
      onclick="window.location.href = '/login'"
      src="/images/Moon_Phase.png"
      alt="Ícone da lua para acessar tela de
      login."
    />
  </div>
  <div class="mobile">
    <img
      onclick="openDialog()"
      src="/images/Search.svg"
      alt="Imagem de lupa da
    busca."
    />
    <img
      src="/images/menu-svgrepo-com.svg"
      alt="Icone do menu."
      id="menuLogo"
    />
  </div>
  <div id="navigationDrawer" class="navigationDrawer">
    <div class="content">
      <img
        class="rightArrow"
        id="rightArrow"
        src="/images/Right.svg"
        alt="Imagem de seta à direita.."
        onclick="closeDrawer()"
      />
    </div>
    <hr />
    <br />

    <div class="content items">
      <div class="item">
        <img src="/images/Moon_Phase.png" alt="Fases da Lua" />
        <a href="/admin">Admin</a>
      </div>
      <div class="item">
        <img src="/images/EarthPlanet.svg" alt="Imagem do Universo" />
        <a href="/astros?category=Planeta">Planetas</a>
      </div>
      <div class="item">
        <img src="/images/MoonSymbol.svg" alt="Símbolo da Lua" />
        <a href="/astros?category=Lua">Luas</a>
      </div>
      <div class="item">
        <img src="/images/Comet.svg" alt="Ícone de Cometa" />
        <a href="/astros?category=Cometa">Cometas</a>
      </div>
      <div class="item">
        <img src="/images/Universe.svg" alt="Ícone do Universo" />
        <a href="/astros">Todos</a>
      </div>
    </div>
  </div>
</nav>

<dialog id="searchDialog" class="search-dialog">
  <div class="search">
    <input
      hx-get="/astros"
      hx-trigger="load, input changed delay:0.3s"
      hx-target="#search-result"
      hx-vals='{"filter": "search-results", "limit": 4}'
      type="text"
      name="search"
      placeholder="Qual astro está procurando?"
    />
    <p>Esc</p>
  </div>

  <hr />

  <div id="search-result" class="itens"></div>
</dialog>
