<nav class="navbar">
  <div class="left">
    <img src="/images/Galaxy_icon 1.png" alt="Logo de galáxia." />
    <a href="/"><h1>Cosmos</h1></a>
  </div>
  <ul>
    <li>
      <a href="/astros?category=Planeta">Planetas</a>
    </li>
    <li><a href="/astros?category=Lua">Luas</a></li>
    <li><a href="/astros?category=Cometa">Cometas</a></li>
    <li><a href="/astros">Todos</a></li>
  </ul>
  <div class="right">
    <button>
      <img src="/images/Search.png" alt="Imagem de lupa da busca." /> Buscar
      Astro
    </button>
    <img
      onclick="window.location.href = '/login'"
      src="/images/Moon_Phase.png"
      alt="Ícone da lua para acessar tela de
      login."
    />
  </div>
  <div class="mobile">
    <img src="/images/Search.png" alt="Imagem de lupa da busca." />
    <img
      src="/images/menu-svgrepo-com.svg"
      alt="Icone do menu."
      id="menuLogo"
    />
  </div>
  <div id="navigationDrawer" class="navigationDrawer">
    <div class="content">
      <img
        class="rightArrow"
        id="rightArrow"
        src="/images/Right.svg"
        alt="Imagem de seta à direita.."
      />
    </div>

    <hr />
    <br />

    <div class="content items">
      <div class="item">
        <img src="/images/Moon_Phase.png" alt="" />
        <a href="/admin">Admin</a>
      </div>
      <div class="item">
        <img src="/images/Universe.svg" alt="" />
        <a href="/astros?category=Planeta">Planetas</a>
      </div>
      <div class="item">
        <img src="/images/MoonSymbol.svg" alt="" />
        <a href="/astros?category=Lua">Luas</a>
      </div>
      <div class="item">
        <img src="/images/Comet.svg" alt="" />
        <a href="/astros?category=Cometa">Cometas</a>
      </div>
    </div>

    <div class="search">
      <button id="searchButton">
        <img src="/images/Search.png" alt="Imagem de lupa da busca." /> Buscar
        Astro
      </button>
    </div>
  </div>
</nav>
