<div class="title">
  <img src="/images/Sun.png" alt="Ãcone do sol." />
  <h1>Sistema Solar</h1>
</div>
<div
  hx-get="/astros"
  hx-trigger="revealed"
  hx-vals='{"filter": "solar-system", "limit": 3, "offset": 0}'
  class="images"
></div>

<a href="/"><p>ver todos</p></a>
