<h1 class="title">Consegue explorar tudo?</h1>
<div class="itens">
  <article>
    <h1>500 +</h1>
    <p>Astros Diferentes</p>
  </article>
  <article>
    <h1>10 +</h1>
    <p>Categorias</p>
  </article>
  <article>
    <h1>100 +</h1>
    <p>Cometas</p>
  </article>
</div>
<img src="/images/image_2.jpg" alt="Decoração do fundo." />
