<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <title>Cosmos</title>
  </head>
  <body>
    <header></header>

    <main>
      <h1>Explore o Cosmos</h1>
      <input
        type="text"
        name="search"
        placeholder="Busque um astro..."
        hx-trigger="keyup delay:400ms changed"
        hx-get="/astros"
        hx-target="#astros-display"
      />

      <select
        name="category"
        hx-get="/astros"
        hx-trigger="change"
        hx-target="#astros-display"
      >
        <option value="">Todos</option>
        <option value="planeta">Planeta</option>
        <option value="estrela">Estrela</option>
      </select>

      <div
        id="astros-display"
        hx-get="/astros"
        hx-swap="innerHTML"
        hx-indicator="#indicator"
        hx-trigger="load, updateAstros from:body"
      ></div>
      <img id="idicator" class="htmx-indicator" src="./asssets/spinner.svg" />

      <%- include('./partials/create-astro') %>
      <div id="response"></div>
    </main>

    <footer></footer>
  </body>
  <script>
    document.body.addEventListener("updateAstros", () => {
      console.log("Evento updateAstros disparado!");
    });
  </script>
</html>
