/* css/styles.css */

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font suporta uma faixa de pesos */
  font-style: normal;
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geist, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 75vw;
  margin: auto;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* ASTRO */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.astro {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 100%;
}

.astro .category {
  border-radius: 20px;
  text-align: center;
  background-color: #4a9265;
  width: 120px;
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
}

.astro img {
  min-width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.astro img:hover {
  transform: scale(1.03);
  opacity: 80;
  cursor: pointer;
}

.astro footer {
  margin-top: auto;
  background-color: #e9e9e9;
  border-radius: 20px;
  padding: 20px 20px;
  transition: all 0.3s ease;
}

.astro footer h1 {
  font-size: 30px;
}

.astro footer p {
  display: -webkit-box; /* Necessário para o line-clamp funcionar */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.astro h1,
p:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .astro footer h1 {
    font-size: 24px;
  }
}

.form-create {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.form-edit {
  display: flex;
  flex-direction: column;
}

.form-edit > img {
  width: 400px;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  body {
    max-width: 100vw;
    padding: 0px 20px;
  }
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ERRORS */
.zod-error {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.zod-error > p {
  padding: 10px 0;
  border-radius: 5px;
  background-color: red;
  color: white;
}

/* navbar*/
.navbar {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar .left img {
  width: 50px;
}

.navbar .left h1 {
  font-size: 36px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.navbar a {
  color: #333;
  font-weight: normal;
  font-size: 18px;
}

.navbar .right {
  display: flex;
}

.navbar .right img:first-child {
  width: 18px;
  height: 18px;
}
.navbar .mobile {
  display: none;
}

.navbar .mobile img {
  width: 30px;
}

@media (max-width: 768px) {
  .navbar .left h1 {
    font-size: 24px;
  }
  .navbar .left img {
    width: 30px;
  }
  .navbar ul {
    display: none;
  }
  .navbar .right {
    display: none;
  }
  .navbar .mobile {
    display: flex;
    gap: 10px;
  }
}

.navbar .right button {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: transparent;
  gap: 5px;
  font-weight: 600;
  transition: all 0.7s ease;
}

.navbar .right button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.navbar .right img {
  width: 45px;
  height: 45px;
}

/* home header */
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.home-header img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 20px;
}

.home-header h1 {
  font-size: 90px;
  font-weight: 700;
}

.home-header h2 {
  font-size: 50px;
  font-weight: 400;
}

.home-header span {
  font-size: 60px;
  font-weight: 700;
}

.home-header button {
  padding: 20px 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: all 0.5s ease;
}

.home-header button:hover {
  color: #000;
  background-color: #fff;
}

@media (max-width: 768px) {
  .home-header {
    gap: 20px;
  }

  .home-header img {
    height: 120px;
    border-radius: 15px;
  }

  .home-header h1 {
    font-size: 50px;
  }

  .home-header h2 {
    font-size: 30px;
  }

  .home-header span {
    font-size: 40px;
  }

  .home-header button {
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 15px;
  }
}

.solar-system {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.solar-system .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.solar-system .title img {
  width: 40px;
}

.solar-system .title h1 {
  font-size: 32px;
}

.solar-system .images {
  display: grid;
  padding: 20px 0;
}

.solar-system .images img {
  width: 350px;
  border-radius: 20px;
}
