/* css/styles.css */

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font suporta uma faixa de pesos */
  font-style: normal;
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geist, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 85vw;
  margin: auto;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* ASTRO */
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.astro {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  max-width: 400px;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.astro header {
  width: 100%;
  height: 200px;
  position: relative;
}

.astro header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.astro header h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
}

.astro section {
  padding: 1rem;
}

.astro section p {
  margin: 0.5rem 0;
  line-height: 1.5;
}

.astro section a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.astro section a:hover {
  background-color: #0056b3;
  text-decoration: none;
}

.form-create {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.form-edit {
  display: flex;
  flex-direction: column;
}

.form-edit > img {
  width: 400px;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  body {
    max-width: 95vw;
    padding: 0px 20px 0px 10px;
  }
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ERRORS */
.zod-error {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.zod-error > p {
  padding: 10px 0;
  border-radius: 5px;
  background-color: red;
  color: white;
}

/* navbar*/
.navbar {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar .left img {
  width: 50px;
}

.navbar .left h1 {
  font-size: 36px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.navbar a {
  color: #333;
  font-weight: normal;
  font-size: 18px;
}

.navbar .right {
  display: flex;
}

.navbar .right img:first-child {
  width: 18px;
  height: 18px;
}
.navbar .mobile {
  display: none;
}

.navbar .mobile img {
  width: 30px;
}

@media (max-width: 768px) {
  .navbar .left h1 {
    font-size: 24px;
  }
  .navbar .left img {
    width: 30px;
  }
  .navbar ul {
    display: none;
  }
  .navbar .right {
    display: none;
  }
  .navbar .mobile {
    display: flex;
    gap: 10px;
  }
}

.navbar .right button {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: transparent;
  gap: 5px;
  font-weight: 600;
  transition: all 0.7s ease;
}

.navbar .right button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.navbar .right img {
  width: 45px;
  height: 45px;
}

/* home header */
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.home-header img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 20px;
}

.home-header h1 {
  font-size: 90px;
  font-weight: 700;
}

.home-header h2 {
  font-size: 50px;
  font-weight: 400;
}

.home-header span {
  font-size: 60px;
  font-weight: 700;
}

.home-header button {
  padding: 20px 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: all 0.5s ease;
}

.home-header button:hover {
  color: #000;
  background-color: #fff;
}

@media (max-width: 768px) {
  .home-header {
    gap: 20px;
  }

  .home-header img {
    height: 120px;
    border-radius: 15px;
  }

  .home-header h1 {
    font-size: 50px;
  }

  .home-header h2 {
    font-size: 30px;
  }

  .home-header span {
    font-size: 40px;
  }

  .home-header button {
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 15px;
  }
}

.solar-system {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.solar-system .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.solar-system .title img {
  width: 40px;
}

.solar-system .title h1 {
  font-size: 36px;
}

.solar-system .images {
  display: grid;
  padding: 20px 0;
}

.solar-system .images img {
  width: 350px;
  border-radius: 20px;
}
