/* css/styles.css */

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font suporta uma faixa de pesos */
  font-style: normal;
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geist, sans-serif;
  line-height: 1.6;
  color: #333;
}

main {
  max-width: 75vw;
  margin: auto;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

/* ASTRO */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.astro {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 100%;
}

.astro .category {
  border-radius: 20px;
  text-align: center;
  width: 120px;
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
}

.planeta {
  background-color: #4a9265;
}

.estrela {
  background-color: #d5bf40;
}

.lua {
  background-color: #199191;
}

.cometa {
  background-color: #5b5b5b;
}

.astro img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.astro img:hover {
  transform: scale(1.03);
  opacity: 80;
  cursor: pointer;
}

.astro footer {
  margin-top: auto;
  transition: all 0.3s ease;
}

.astro footer h1 {
  font-size: 30px;
}

.astro footer p {
  display: -webkit-box; /* Necessário para o line-clamp funcionar */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
.astro-link {
  display: block;
}

.astro h1,
.astro p:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .astro footer h1 {
    font-size: 24px;
  }
}

.form-create {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.form-edit {
  display: flex;
  flex-direction: column;
}

.form-edit > img {
  width: 400px;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  main {
    max-width: 100vw;
    padding: 0px 20px;
  }
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ERRORS */
.zod-error {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.zod-error > p {
  padding: 10px 0;
  border-radius: 5px;
  background-color: red;
  color: white;
}

/* navbar*/
.navbar {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
  max-width: 75vw;
  margin: auto;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar .left img {
  width: 50px;
}

.navbar .left h1 {
  font-size: 36px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.navbar a {
  color: #333;
  font-weight: normal;
  font-size: 18px;
}

.navbar .right {
  display: flex;
}

.navbar .right img:first-child {
  width: 18px;
  height: 18px;
}
.navbar .mobile {
  display: none;
}

.navbar .mobile img {
  width: 30px;
}

@media (max-width: 768px) {
  .navbar {
    max-width: 100vw;
    padding: 20px 10px;
  }
  .navbar .left h1 {
    font-size: 24px;
  }
  .navbar .left img {
    width: 30px;
  }
  .navbar ul {
    display: none;
  }
  .navbar .right {
    display: none;
  }
  .navbar .mobile {
    display: flex;
    gap: 10px;
  }
}

.navbar .right button {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: transparent;
  gap: 5px;
  font-weight: 600;
  transition: all 0.7s ease;
}

.navbar .right button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #fff;
}

.navbar .right img {
  width: 45px;
  height: 45px;
}

/* home header */
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.home-header img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 20px;
}

.home-header h1 {
  font-size: 90px;
  font-weight: 700;
}

.home-header h2 {
  font-size: 50px;
  font-weight: 400;
}

.home-header span {
  font-size: 60px;
  font-weight: 700;
}

.home-header button {
  padding: 20px 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: all 0.5s ease;
}

.home-header button:hover {
  color: #000;
  background-color: #fff;
}

@media (max-width: 768px) {
  .home-header {
    gap: 20px;
  }

  .home-header img {
    height: 120px;
    border-radius: 15px;
  }

  .home-header h1 {
    font-size: 50px;
  }

  .home-header h2 {
    font-size: 30px;
  }

  .home-header span {
    font-size: 40px;
  }

  .home-header button {
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 15px;
  }
}

.astros-gallery {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.astros-gallery .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.astros-gallery .title img {
  width: 40px;
}

.astros-gallery .title h1 {
  font-size: 32px;
  padding: 20px 0;
}

.astros-gallery a {
  align-self: flex-end;
  font-size: 20px;
}

/* footer */
.home-footer {
  background-color: #d9d9d9;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* astros-page */

.astros-page h1 {
  padding: 15px 0;
}

/* famous-comets */
.famous-comets {
  display: flex;
  flex-direction: column;
}

.famous-comets .title {
  font-size: 32px;
  padding: 40px 0;
  text-align: center;
}

.comets-names ul {
  display: flex;
  justify-content: space-between;
}
.comets-names li {
  font-size: 28px;
  font-weight: 500;
  color: #afafaf;
  transition: all 0.5s ease;
}

.comets-names .selected {
  color: #000;
  text-decoration: underline;
}

.comets-names li:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .comets-names ul {
    flex-direction: column;
    padding: 20px 0;
  }
}

/* selected-comet */
.selected-comet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0;
  height: 400px;
  background-color: #ebebeb;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.selected-comet .left {
  flex: 1;
  min-width: 300px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selected-comet .left h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.selected-comet .left .distance_sun {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
}

.selected-comet .left .distance_sun h2 {
  font-weight: 500;
  font-size: 20px;
  color: #555;
}

.selected-comet .left .distance_sun img {
  width: 40px;
  height: auto;
}

.selected-comet .left .description {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

.selected-comet .left .description a {
  font-size: 24px;
}

.selected-comet .image {
  flex: 1;
  min-width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-comet .image img {
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .selected-comet {
    flex-direction: column;
    height: auto;
  }

  .selected-comet .left {
    padding: 30px;
    text-align: center;
  }

  .selected-comet .left h1 {
    font-size: 36px;
  }

  .selected-comet .left .distance_sun {
    justify-content: center;
  }

  .selected-comet .image img {
    border-radius: 0;
    width: 100%;
  }
}

/* perks */
.perks {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.perks .title {
  text-align: center;
  font-size: 46px;
}

.perks .itens {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.perks .itens h1 {
  font-size: 46px;
}
.perks .itens p {
  font-size: 30px;
}

.perks img {
  width: 100%;
  border-radius: 20px;
  max-height: 300px;
  object-fit: cover;
}
